# Lesson 5 aka Lesson 11

In [20]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Food Prices

In [7]:
# import in provided data
meals_df = pd.read_csv('/home/scruffy/git/udacity/inferStats/lesson5/Food Prices - Lesson 11 - Sheet1.csv')

In [8]:
# quick look at the data
meals_df.describe()

,Average meal prices at restaurants in Gettysburg ($),Average meal prices at restaurants in Wilma ($)
count,18.000000,14.000000
mean,8.944444,11.142857
std,2.645134,2.178819
min,5.000000,8.000000
25%,7.000000,NaN
50%,9.000000,NaN
75%,11.000000,NaN
max,13.000000,15.000000

In [11]:
# make the column names easier to deal with
meals_df.columns = ['gettys_prices', 'wilma_prices']

In [45]:
# calculate the numbers for the quizzes
gettys_mean = meals_df['gettys_prices'].mean()
wilma_mean = meals_df['wilma_prices'].mean()
gettys_sd = meals_df['gettys_prices'].std()
wilma_sd = meals_df['wilma_prices'].std()
gettys_ss = meals_df['gettys_prices'].count()
wilma_ss = meals_df['wilma_prices'].count()
dof = gettys_ss + wilma_ss - 2
se = np.sqrt((gettys_sd**2 / gettys_ss) + (wilma_sd**2 / wilma_ss))
t = stats.ttest_ind(meals_df['gettys_prices'], meals_df['wilma_prices'], equal_var = False, nan_policy = 'omit')
t_manual = (gettys_mean - wilma_mean) / se
t_crit = 2.042

In [47]:
# display the numbers
print 'Gettysburg meal prices mean: {:.2f}'.format(gettys_mean)
print 'Wilma meal prices mean: {:.2f}'.format(wilma_mean)
print 'Gettysburg SD: {:.2f}'.format(gettys_sd)
print 'Wilma SD: {:.2f}'.format(wilma_sd)
print 'SE: {:.2f}'.format(se)
print 'Degrees of freedom: {:.2f}'.format(dof)
print 'T statistic/P value: ({:.2f}, {:.2f})'.format(t[0], t[1])
print 'T manually derived: {:.2f}'.format(t_manual)
print 'T critical: +/-{}'.format(t_crit)

Gettysburg meal prices mean: 8.94
Wilma meal prices mean: 11.14
Gettysburg SD: 2.65
Wilma SD: 2.18
SE: 0.85
Degrees of freedom: 30.00
T statistic/P value: (-2.58, 0.02)
T manually derived: -2.58
T critical: +/-2.042

## Acne Medication

In [59]:
xbar_a = 33.5
xbar_b = 31.2
sd_a = 8.89
sd_b = 10.16
ss_a = 6.0
ss_b = 5.0
t = (xbar_a - xbar_b) / np.sqrt(((sd_a**2 / ss_a) + (sd_b**2 / ss_b)))
dof = ss_a + ss_b - 2
t_crit = 2.062

In [60]:
print "T stat: {:.2f}".format(t)
print 'Degrees of freedom:', dof

T stat: 0.40
Degrees of freedom: 9.0

## Shoes

In [61]:
# import the data
shoes_df = pd.read_csv('/home/scruffy/git/udacity/inferStats/lesson5/Shoes - Lesson 11 - Sheet1.csv')

In [62]:
# a quick look
shoes_df.describe()

       Pairs of shoes (females)  Pairs of shoes (males)
count                  7.000000               11.000000
mean                  33.142857               18.000000
std                   31.360424               34.272438
min                    5.000000                3.000000
25%                         NaN                4.000000
50%                         NaN                5.000000
75%                         NaN               11.500000
max                   90.000000              120.000000

In [63]:
# make columns easier to work with
shoes_df.columns = ['shoes_female', 'shoes_male']

In [64]:
# calc the numbers
fshoes_mean = shoes_df['shoes_female'].mean()
fshoes_sd = shoes_df['shoes_female'].std()
fshoes_ss = shoes_df['shoes_female'].count()
mshoes_mean = shoes_df['shoes_male'].mean()
mshoes_sd = shoes_df['shoes_male'].std()
mshoes_ss = shoes_df['shoes_male'].count()

In [65]:
# display the numbers
print 'Female shoes mean: {:.2f}'.format(fshoes_mean)
print 'Female shoes sd: {:.2f}'.format(fshoes_sd)
print 'Female shoes sample size:', fshoes_ss
print 'Male shoes mean: {:.2f}'.format(mshoes_mean)
print 'Male shoes sd: {:.2f}'.format(mshoes_sd)
print 'Males shoes sample size:', mshoes_ss

Female shoes mean: 33.14
Female shoes sd: 31.36
Female shoes sample size: 7
Male shoes mean: 18.00
Male shoes sd: 34.27
Males shoes sample size: 11