# Lesson 5 aka Lesson 11

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Food Prices

In [7]:
# import in provided data
meals_df = pd.read_csv('/home/scruffy/git/udacity/inferStats/lesson5/Food Prices - Lesson 11 - Sheet1.csv')

In [8]:
# quick look at the data
meals_df.describe()

,Average meal prices at restaurants in Gettysburg ($),Average meal prices at restaurants in Wilma ($)
count,18.000000,14.000000
mean,8.944444,11.142857
std,2.645134,2.178819
min,5.000000,8.000000
25%,7.000000,NaN
50%,9.000000,NaN
75%,11.000000,NaN
max,13.000000,15.000000

In [11]:
# make the column names easier to deal with
meals_df.columns = ['gettys_prices', 'wilma_prices']

In [12]:
# calculate the numbers for the quizzes
gettys_mean = meals_df['gettys_prices'].mean()
wilma_mean = meals_df['wilma_prices'].mean()

In [13]:
# display the numbers
print 'Gettysburg meal prices mean: {:.2f}'.format(gettys_mean)
print 'Wilma meal prices mean: {:.2f}'.format(wilma_mean)

Gettysburg meal prices mean: 8.94
Wilma meal prices mean: 11.14