# Lesson 10 aka Lesson 20

In [14]:
import numpy as np
import pandas as pd
import scipy.stats as stats

## Problem Set 10

### Quiz 15 - Calculate X^2

In [9]:
rolls_df = pd.DataFrame().from_dict({'Outcome': [1, 2, 3, 4, 5, 6], 'Frequency': [8, 4, 1, 8, 3, 0]})
rolls_df.set_index('Outcome', inplace = True)

In [11]:
rolls_df['Expected'] = [4, 4, 4, 4, 4, 4]

In [12]:
rolls_df

         Frequency  Expected
Outcome
1                8         4
2                4         4
3                1         4
4                8         4
5                3         4
6                0         4

In [15]:
chi_sq = stats.chisquare(rolls_df['Frequency'], rolls_df['Expected'])

chi_sq

Power_divergenceResult(statistic=14.5, pvalue=0.012726685122400083)

### Quiz 22

In [31]:
titanic_df = pd.DataFrame.from_dict({'Cabin': [299, 280], 'Steerage': [186, 526], 'Survived': ['Yes', 'No']})
# titanic_df.set_index('Survived', inplace = True)

In [32]:
titanic_df

   Cabin  Steerage Survived
0    299       186      Yes
1    280       526       No

In [46]:
titanic_df.columns = ['Cabin_Obs', 'Steerage_Obs', 'Survived']

In [47]:
cabin = titanic_df['Cabin_Obs']
steerage = titanic_df['Steerage_Obs']

In [57]:
titanic_df['Totals'] = titanic_df.sum(axis = 1, numeric_only = True)

In [58]:
titanic_df

   Cabin_Obs  Steerage_Obs Survived  Totals
0        299           186      Yes     485
1        280           526       No     806

In [59]:
titanic_pivot = pd.pivot_table(titanic_df, index = ['Survived'],  margins = True, aggfunc = np.sum)

In [60]:
titanic_pivot

          Cabin_Obs  Steerage_Obs  Totals
Survived
No            280.0         526.0   806.0
Yes           299.0         186.0   485.0
All           579.0         712.0  1291.0

In [86]:
grand_total = titanic_df['Totals'].sum()
cabin_obs_total = titanic_df['Cabin_Obs'].sum()
steerage_obs_total = titanic_df['Steerage_Obs'].sum()

test = float((cabin_obs_total / grand_total))
titanic_df['Steerage_Exp'] = titanic_df['Steerage_Obs'] * (titanic_df['Totals'] / grand_total)

In [88]:
grand_total

1291

In [61]:
chi_sq = stats.chisquare(titanic_pivot)

chi_sq

Power_divergenceResult(statistic=array([ 145.21761658,  299.76966292,  382.61115414]), pvalue=array([  2.92681466e-32,   8.05090636e-66,   8.26120730e-84]))