# Inferential Stats - Lesson 1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Klout

In [5]:
klout_df = pd.read_csv('/home/scruffy/git/udacity/inferStats/lesson1/Klout scores (Lesson 7) - Sheet1.csv', header = None)

In [6]:
# describe the data
klout_df.describe()

                 0
count  1048.000000
mean     37.719055
std      16.044315
min      10.000000
25%      23.174620
50%      41.094683
75%      50.284432
max      87.247529

In [7]:
# calculate population std
klout_std_pop = klout_df.std(ddof = 0)
klout_std_pop

0    16.036658
dtype: float64

### Misc

In [14]:
misc_df = pd.DataFrame({'misc':[1, 2, 3, 4, 5, 6]})

In [15]:
misc_df

   misc
0     1
1     2
2     3
3     4
4     5
5     6

In [16]:
misc_df.describe()

           misc
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [17]:
# population sd
misc_sd_pop = misc_df.std(ddof = 0)
misc_sd_pop

misc    1.707825
dtype: float64