# Descriptive Statistics - Lesson 4

In [1]:
import numpy as np
import pandas as pd

### Explore Social Networks Salaries

In [2]:
social_sals_df = pd.read_csv('/home/scruffy/git/udacity/descStats/lesson4/Sample Social Networkers Salary n=100 - Lesson 4 - Sheet1.csv')

In [4]:
cols = ['salary']
social_sals_df = social_sals_df[cols]
social_sals_df.describe()

             salary
count    100.000000
mean   50586.363300
std    10710.640427
min    24497.780000
25%    43188.750000
50%    52242.070000
75%    57978.635000
max    83017.280000

### Explore Ad Hoc Dataframe

In [10]:
# create dataframe and describe it
quiz_df = pd.DataFrame({'nums': [18, 20, 21, 18, 23, 15, 17, 22, 21]})
quiz_df.describe()

            nums
count   9.000000
mean   19.444444
std     2.603417
min    15.000000
25%    18.000000
50%    20.000000
75%    21.000000
max    23.000000

In [11]:
quiz_df

   nums
0    18
1    20
2    21
3    18
4    23
5    15
6    17
7    22
8    21

### Explore Facebook Friends

In [13]:
fb_df = pd.read_csv('/home/scruffy/git/udacity/descStats/lesson4/Milam - How many Facebook friends do Udacians have- - Lesson 3 - Sheet1.csv')

In [16]:
fb_df.columns

# wrangle columns
fb_df.columns = ['timestamp', 'num_fb_friends']

In [17]:
fb_df.describe()

       num_fb_friends
count       27.000000
mean       584.740741
std        437.581253
min          0.000000
25%        248.500000
50%        479.000000
75%        836.000000
max       1776.000000

In [19]:
# calculate mean
fb_mean = fb_df['num_fb_friends'].mean()
fb_mean

584.7407407407408

In [21]:
# add deviation from mean to dataframe
fb_df['deviation'] = fb_df['num_fb_friends'] - fb_mean
fb_df.head()

           timestamp  num_fb_friends   deviation
0  1/2/2013 16:59:06               0 -584.740741
1  1/2/2013 15:20:50              69 -515.740741
2  1/2/2013 16:16:51             123 -461.740741
3  1/2/2013 18:14:04             137 -447.740741
4  1/2/2013 20:04:27             174 -410.740741

In [22]:
# calculate mean of deviation
fb_df['deviation'].mean()

-1.0105496686365869e-13