In [1]:
import numpy as np
import pandas as pd

In [2]:
social_sals_df = pd.read_csv('/home/scruffy/git/udacity/descStats/lesson4/Sample Social Networkers Salary n=100 - Lesson 4 - Sheet1.csv')

In [4]:
cols = ['salary']
social_sals_df = social_sals_df[cols]
social_sals_df.describe()

             salary
count    100.000000
mean   50586.363300
std    10710.640427
min    24497.780000
25%    43188.750000
50%    52242.070000
75%    57978.635000
max    83017.280000

In [10]:
# create dataframe and describe it
quiz_df = pd.DataFrame({'nums': [18, 20, 21, 18, 23, 15, 17, 22, 21]})
quiz_df.describe()

            nums
count   9.000000
mean   19.444444
std     2.603417
min    15.000000
25%    18.000000
50%    20.000000
75%    21.000000
max    23.000000

In [11]:
quiz_df

   nums
0    18
1    20
2    21
3    18
4    23
5    15
6    17
7    22
8    21