# Lesson 6 aka Lesson 12

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

## Sample Means and Grand Mean

In [3]:
shirts_df = pd.DataFrame.from_dict({
        'Snapzi':[15.0, 12.0, 14.0, 11.0], 
        'Irisa':[39.0, 45.0, 48.0, 60.0],
        'LolaMoon': [65.0, 45.0, 32.0, 38.0]
    })

In [5]:
shirts_df

   Irisa  LolaMoon  Snapzi
0   39.0      65.0    15.0
1   45.0      45.0    12.0
2   48.0      32.0    14.0
3   60.0      38.0    11.0

In [9]:
# calc the means
xbar_s = shirts_df['Snapzi'].mean()
xbar_i = shirts_df['Irisa'].mean()
xbar_l = shirts_df['LolaMoon'].mean()
grand_mean = np.mean([xbar_s, xbar_i, xbar_l])

In [11]:
print 'xbar_s:', xbar_s
print 'xbar_i:', xbar_i
print 'xbar_l:', xbar_l
print 'grand mean: {:.2f}'.format(grand_mean)

xbar_s: 13.0
xbar_i: 48.0
xbar_l: 45.0
grand mean: 35.33